body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #fff;
    color: #333;
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #ddd;
    position: relative;
    z-index: 1001; /* Adicionado para sobrepor a tela inicial */
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
}

nav {
    margin-top: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

.content-section {
    display: none;
}

.stanza-container {
    display: flex;
    justify-content: space-between;
}

.stanza {
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    width: 48%;
    margin-bottom: 10px;
}

.analysis, .intro-content-detail, .general-content {
    display: none;
    background: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: 5px;
}

button {
    background: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    display: block;
    width: auto;
    text-align: left;
    font-size: 15px;
    border-radius: 15px; /* Adicionado para bordas arredondadas */
}

button:hover {
    background: #555;
}

.general-info, .intro-content {
    display: none;
}

.initial-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.initial-screen h1 {
    font-size: 32px;
    color: #333;
}
